* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 650px;
    padding: 10px;
    margin: auto;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-weight: 700;
    padding: 5px 0 10px 0;
}

.heading p {
    padding: 5px 0 10px 0;
}

.heading h4 {
    font-size: 17px;
    padding: 5px 0 16px 0;
}

.box {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border: 2px solid #978989;
}

.box-item {
    width: calc(33.33% - 2px);
    border: 2px solid black;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    margin-bottom: 15px;
    padding: 1px;
}

.box .box-item .name {
    margin: 10px 8px;
    font-size: 18px;
    font-weight: bolder;
}

.box .box-item .job {
    margin: 10px 8px;
}

.box .box-item .detail {
    margin: 10px 8px;
}

.box .box-item .language p {
    margin: 15px 8px 12px;
}

.box .box-item .language ul {
    padding: 0px 50px;
}

.box .box-item button {
    padding: 1px 4px;
    margin: 10px;
}
